*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  min-width: 122rem;
  min-height: 100vh;
  font-size: 1.6rem;
  line-height: 2rem;
  font-family: "Montserrat", "Roboto", sans-serif;
  font-weight: normal;
  background: #ffffff;
  color: #000000;
  position: relative;
  overflow: hidden;
}

main {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1, h2, h3, h4 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #200142;
}

p, form, button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}

ul, ol {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 30px;
}

.title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.8rem;
  text-align: center;
}

.button {
  font-size: 1.2rem;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #ffffff;
  color: #5101A6;
  border: none;
  border-radius: 1rem;
  padding: 1.5rem;
  cursor: pointer;
}

.cosmic-button {
  outline: 2px solid #ffffff;
  outline-offset: 3px;
  transition: .3s ease-out;
}

.cosmic-button:hover {
  background: #BB6BD9;
  color: white;
  box-shadow: 0 -7px 10px -5px #cdab14, 0 7px 10px -5px #cdab14;
  outline: 1.5px solid white;
  outline-offset: -4px;
}

.cosmic-logo {
  animation: cosmic linear infinite 4s;
}

@keyframes cosmic {
  60% {
    color: #ffffff;
  }
  65% {
    color: #BB6BD9;
  }
  75% {
    color: #5101A6;
    opacity: 1;
  }
  80% {
    color: #5101A6;
  }
  90% {
    color: #cdab14;
  }
  100% {
    color: #ffffff;
    opacity: 0;
  }
}

.page-header {
  width: 100%;
  height: auto;
  padding: 5rem 1rem;
  background: url(../img/background1.png) center/cover no-repeat;
}

.page-header__nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.page-header__button {
  width: 18rem;
}

.logo-info {
  display: flex;
  flex-direction: column;
}

.logo-info__company {
  font-size: 3rem;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 1rem;
  letter-spacing: .3rem;
}

.logo-info__text {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.arrows {
  display: flex;
  flex-direction: row;
  width: 5%;
  transition: text-shadow .3s ease 2s;
  backface-visibility: hidden;
}

.arrows-icon {
  font-size: 15px;
  font-weight: 900 !important;
  letter-spacing: -6px;
  color: #BB6BD9;
}

.logo-info:hover .arrows {
  animation: arrows 2s cubic-bezier(0, 0.55, 0.45, 1);
  text-shadow: 0 0 0 #eecf42;
  transition: text-shadow .3s ease;
}

@keyframes arrows {
  0% {
    transform: translateX(-12px);
  }
  50% {
    transform: translateX(6px);
  }
  60% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0);
  }
}

.description {
  font-size: 1rem;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: .4rem;
  transition: color .3s ease .25s;
}

.logo-info:hover .description {
  color: #eecf42;
}

.moon {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 11rem;
  position: relative;
}

.moon__info {
  width: 50%;
  max-height: 370px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.moon__info-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.moon__object {
  position: absolute;
  top: 10%;
  left: 60%;
  display: block;
  width: 50%;
  height: 50rem;
  background: linear-gradient(96deg, rgba(81, 1, 166, 0) 25%, #5101a6 95%), url(../img/moon.png) center/cover no-repeat;
  transform: translate(35px, 65px);
  animation: rotate 50s linear infinite alternate;
  backface-visibility: hidden;
  -webkit-mask-image: url(../img/moon.png);
  mask-image: url(../img/moon.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-size: 80% auto;
  mask-size: 80% auto;
}

.moon__header {
  color: #ffffff;
  font-weight: 700;
  font-size: 4rem;
  line-height: 3rem;
  text-shadow: 2px -2px 0 #5101A6, 4px -4px 0 #bb6bd9;
  margin-bottom: 5rem;
}

.moon__header span {
  font-style: italic;
  font-weight: 300;
  font-size: 2rem;
  margin-left: 80%;
  text-shadow: none;
}

.moon__header-text {
  font-size: 2rem;
  line-height: 3rem;
  text-shadow: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.info-icon {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #5101A6;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s ease;
}

.info-icon:hover {
  background-color: #BB6BD9;
  box-shadow: 0 -7px 10px -5px #cdab14, 0 7px 10px -5px #cdab14;
}

.info-icon i {
  color: #ffffff;
  font-size: 2.4rem;
  transition: .3s ease;
}

.info-icon:hover i {
  font-size: 3rem;
}

.tours {
  width: 100%;
  height: 90vh;
  padding: 10rem 1rem 55rem;
}

.tours__title {
  color: #200142;
  margin-bottom: 6.5rem;
}

.tours__info {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.tours__info-title {
  color: #000000;
  margin-bottom: 5rem;
  padding: 1rem 0;
  font-weight: normal;
  font-size: 2.8rem;
  position: relative;
  display: inline-block;
  backface-visibility: hidden;
  transition: color .3s ease-out;
}

.tours__info-title:hover {
  color: #cdab14;
}

.tours__info-title::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #eecf42;
  transform-origin: bottom right;
  transition: transform .4s ease-out;
  margin-bottom: -.5rem;
}

.tours__info-title:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.tours__info-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  grid-gap: 6.5rem 5rem;
  align-items: start;
}

.tours__info-links {
  text-align: left;
}

.tours__info-links:active, .tours__info-links:focus .tours__info-subtitle {
  color: #cdab14;
}

.tours__info-links:active, .tours__info-links:focus .tours__info-text {
  color: #5101A6;
  opacity: 1;
  transform: translateY(0);
}

.tours__info-links:active, .tours__info-links:focus .tours__info-pics {
  border: 2px solid #eecf42;
}

.tours__info-pics {
  margin-bottom: 2.4rem;
  transition: .3s ease-out;
  border-radius: .8rem;
  border: 2px solid transparent;
  box-shadow: 0 -7px 10px -5px #BB6BD9, 0 7px 10px -5px #BB6BD9;
}

.tours__info-pics:hover {
  filter: brightness(1.1) saturate(130%);
}

.tours__info-subtitle {
  color: #5101A6;
  margin-bottom: .8rem;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  transition: border .3s ease-out;
}

.tours__info-text {
  transform: translateY(-30px);
  transition: transform .7s ease-out;
  opacity: 0;
}

.tours__info-items:hover .tours__info-text {
  transform: translateY(0);
  opacity: 1;
}

.page-footer {
  width: 100%;
  height: 80vh;
  padding: 10rem 0 55rem;
  background: url(../img/footer.png) center/cover no-repeat, linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), #5101A6;
  color: #ffffff;
  border-bottom: 8rem solid black;
}

.page-footer__title {
  margin-bottom: 6.5rem;
}

.page-footer__info {
  width: 45%;
  margin: 0 auto;
  font-size: 2rem;
  line-height: 2.8rem;
  margin-bottom: 5rem;
  text-align: center;
}

.page-footer__logo {
  width: 18.5%;
  margin: 0 auto;
  transform: translate(0%, 130%);
}

.page-footer__form {
  color: #ffffff;
  margin-bottom: 14rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.page-footer__form legend {
  font-size: 1.2rem;
}

.page-footer__form label {
  display: none;
}

.page-footer__form fieldset {
  width: 20%;
  padding: .5rem;
  border: 1px solid #BB6BD9;
  border-radius: .6rem;
}

.page-footer__form input {
  padding: 2rem;
  text-align: left;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.page-footer__form input::placeholder {
  color: #BB6BD9;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

fieldset:nth-child(3) {
  margin-top: .5%;
  border: 1px solid #ffffff;
}

fieldset:nth-child(3) legend {
  display: none;
}

fieldset:nth-child(3) input::placeholder {
  color: #ffffff;
}

.form-button {
  width: 20%;
  padding: 2rem;
  font-weight: 700;
  background: #5101A6;
  border: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  border-radius: .6rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: .5s ease;
}

.form-button:hover {
  background: #BB6BD9;
  box-shadow: 0 -7px 10px -5px #cdab14, 0 7px 10px -5px #cdab14;
}

@media (max-width: 1199px) {
  .container {
    width: 940px;
  }
  html {
    font-size: 56.25%;
  }
  .moon__object {
    width: 40%;
  }
  .tours {
    height: 1070px;
  }
  .tours__info-images {
    grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
    margin-left: 5%;
  }
  .tours__info-text {
    width: 80%;
    font-size: 1.5rem;
  }
  .tours__info-items {
    justify-self: center;
    align-self: center;
  }
  .page-footer__logo {
    width: 22%;
  }
}

@media (max-width: 991px) {
  .container {
    width: 720px;
  }
  html {
    font-size: 34%;
  }
  .logo-info {
    width: 40%;
  }
  .logo-info__text {
    width: 50%;
  }
  .arrows-icon {
    font-size: 10px;
  }
  .tours {
    height: 930px;
  }
  .tours__info-images {
    grid-template-columns: repeat(auto-fit, minmax(41rem, 1fr));
    margin-left: 0;
  }
  .tours__info-title {
    font-size: 3.5rem;
  }
  .tours__info-pics {
    margin-bottom: 5rem;
  }
  .tours__info-subtitle {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  .tours__info-text {
    font-size: 2.5rem;
  }
  .page-footer {
    height: 520px;
  }
  .page-footer__info {
    font-size: 2.5rem;
    line-height: 3.2rem;
  }
  .page-footer__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 30px;
  }
  .page-footer__form fieldset {
    width: 100%;
  }
  .page-footer__form fieldset legend {
    font-size: 2rem;
  }
  .page-footer__form fieldset input {
    width: 100%;
    text-align: center;
    padding: 1.7rem 2rem 2.5rem;
  }
  .page-footer__form fieldset input::placeholder {
    font-size: 2.5rem;
  }
  .page-footer__form fieldset:nth-child(3) input {
    padding: 1.7rem 2rem 2rem;
  }
  .form-button {
    width: 100%;
    font-size: 2.5rem;
  }
  .page-footer__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .container {
    width: 540px;
  }
  html {
    font-size: 33%;
  }
  .logo-info__text {
    width: 60%;
  }
  .info-icon {
    width: 7rem;
    height: 7rem;
  }
  .info-icon i {
    font-size: 3.5rem;
  }
  .info-icon:hover i {
    font-size: 4rem;
  }
  .moon__info {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .moon__object {
    display: none;
  }
  .tours {
    height: 870px;
  }
  .tours__info-text {
    transform: none;
    opacity: 1;
  }
  .tours__info-links {
    text-align: justify;
  }
  .tours__info-subtitle {
    text-align: center;
  }
  .tours__info-text {
    width: 100%;
  }
  .page-footer__info {
    width: 55%;
  }
  .page-footer__form {
    margin-bottom: 17rem;
  }
}

@media (max-width: 575px) {
  .container {
    width: 100%;
  }
  html {
    font-size: 40%;
  }
  .logo-info__text {
    width: 50%;
  }
  .info-icon {
    width: 8rem;
    height: 8rem;
  }
  .tours {
    height: 2050px;
  }
  .tours__info-images {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }
  .tours__info-items {
    margin: 0 auto;
    width: 100%;
  }
  .tours__info-pics {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 75%;
  }
  .tours__info-subtitle {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 75%;
  }
  .tours__info-text {
    margin: 0 auto;
    width: 70%;
  }
  .page-footer__info {
    margin-bottom: 40px;
  }
  .page-footer__form {
    margin-bottom: 17px;
  }
}
