*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 122rem;
  min-height: 100vh;
  font-size: 1.6rem;
  line-height: 2rem;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: normal;
  background: #ffffff;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1, h2, h3, h4, p, ul, ol, li {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 120rem;
  padding: 5rem 1rem;
}

.button {
  background: #ffffff;
  border: none;
  color: #5101A6;
  border-radius: 1rem;
  text-transform: uppercase;
}

.cosmic-button {
  box-shadow: 0 -5px 15px -3px #be83fd, 0 5px 15px -3px #be83fd;
  outline: 2px solid #ffffff;
  outline-offset: 3px;
  transition: .3s ease-out;
}

.cosmic-button:hover {
  background: #5101A6;
  color: white;
  box-shadow: 0 -7px 10px -5px #ffd000, 0 7px 10px -5px #ffd000;
  outline: 1.5px solid white;
  outline-offset: -4px;
}

.cosmic-logo {
  animation: cosmic linear infinite 4s;
}

@keyframes cosmic {
  60% {
    color: #ffffff;
  }
  65% {
    color: #be83fd;
  }
  75% {
    color: #5101A6;
    opacity: 1;
  }
  80% {
    color: #5101A6;
  }
  85% {
    color: #5101A6;
  }
  90% {
    color: #5101A6;
  }
  100% {
    color: #ffffff;
    opacity: 0;
  }
}

.page-header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.8) 100%), url(../img/background.png) center/cover no-repeat;
}

.page-header__nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.page-header__button {
  width: 18rem;
  padding: 1.5rem;
  font-size: 1.2rem;
  font-weight: 900;
}

.logo-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.logo-info__company {
  font-size: 5rem;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 2rem;
  letter-spacing: .5rem;
}

.logo-info__text {
  width: 98%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.arrows {
  display: flex;
  flex-direction: row;
  width: 5%;
}

.description {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: .5rem;
}
