// Переменные и миксины 

$color-white: #ffffff
$color-light-grey: #f4f4f4
$color-dark: #200142
$color-black: #000000

$main-color: #5101A6
$main-color-light: #BB6BD9
$added-color: #cdab14
$added-color-light: #eecf42

$cosmic-shadow-btn: 0 -7px 10px -5px $added-color, 0 7px 10px -5px $added-color
$cosmic-shadow-pics: 0 -7px 10px -5px $main-color-light, 0 7px 10px -5px $main-color-light

// Общие стили 

*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    // font-size: 10px
    // 10px : 16px (по умолчанию) * 100 = 62.5%
    // для изменения размера шрифта для слабовидящих 
    font-size: 62.5%

body
    min-width: 122rem
    min-height: 100vh
    font-size: 1.6rem
    line-height: 2rem
    font-family: "Montserrat", "Roboto", sans-serif
    font-weight: normal
    background: $color-white
    color: $color-black
    position: relative

img
    max-width: 100%
    height: auto
    display: block

h1, h2, h3, h4
    margin: 0
    font-family: "Montserrat", sans-serif

a
    font-family: "Montserrat", sans-serif
    text-decoration: none
    color: $color-dark

p, form, button
    font-family: "Roboto", sans-serif
    font-weight: 400
    font-size: 13px
    line-height: 20px

ul, ol
    list-style: none

.container
    margin: 0 auto
    max-width: 120rem
    padding: 0 30px

.title
    font-weight: 700
    font-size: 4rem
    line-height: 4.8rem
    text-align: center

.button
    font-size: 1.2rem
    font-weight: 900
    font-family: 'Roboto', sans-serif
    text-transform: uppercase
    letter-spacing: 1px
    background: $color-white
    color: $main-color
    border: none
    border-radius: 1rem
    padding: 1.5rem
    cursor: pointer

.cosmic-button
    outline: 2px solid $color-white
    outline-offset: 3px
    transition: .3s ease-out
    &:hover
        background: $main-color-light
        color: white
        box-shadow: $cosmic-shadow-btn
        outline: 1.5px solid white
        outline-offset: -4px

.cosmic-logo
    animation: cosmic linear infinite 4s

@keyframes cosmic
    60%
        color: $color-white
    65%
        color: $main-color-light
    75%
        color: $main-color
        opacity: 1
    80%
        color: $main-color
    90%
        color: $added-color
    100%
        color: $color-white
        opacity: 0

// HEADER

.page-header
    width: 100%
    height: auto
    padding: 5rem 1rem
    // background: linear-gradient(90deg, rgba($color-black,0.5) 0%, rgba($color-black,0.7) 50%, rgba($color-black,0.9) 100%), url(../img/background1.png) center/cover no-repeat
    background: url(../img/background1.png) center/cover no-repeat
    &__nav
        display: flex
        justify-content: space-between
        align-content: center
        align-items: center
        flex-wrap: wrap
    &__button
        width: 18rem

.logo-info
    display: flex
    flex-direction: column
    &__company
        font-size: 3rem
        text-transform: uppercase
        color: $color-white
        font-weight: bold
        margin-bottom: 1rem
        letter-spacing: .3rem
    &__text
        width: 100%
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between
        align-items: center

.arrows
    display: flex
    flex-direction: row
    width: 5%
    transition: text-shadow .3s ease 2s
    backface-visibility: hidden
    &-icon
        font-size: 15px
        font-weight: 900 !important
        letter-spacing: -6px
        color: $main-color-light

.logo-info:hover .arrows
    animation: arrows 2s cubic-bezier(0, 0.55, 0.45, 1)
    text-shadow: 0 0 0 $added-color-light
    transition: text-shadow .3s ease

@keyframes arrows
    0%
        transform: translateX(-12px)
    50%
        transform: translateX(6px)
    60%
        transform: translateX(0)
    80%
        transform: translateX(4px)
    100%
        transform: translateX(0)

.description
    font-size: 1rem
    text-transform: uppercase
    color: $color-white
    letter-spacing: .4rem
    transition: color .3s ease .25s

.logo-info:hover .description
    color: $added-color-light

// SECTION MOON

.moon
    width: 100%
    display: flex
    justify-content: space-between
    padding-top: 11rem
    position: relative
    &__info
        width: 50%
        max-height: 370px
        display: flex
        flex-direction: column
        flex-wrap: wrap
        align-items: flex-start
        &-buttons
            display: flex
            align-items: center
            justify-content: space-between
            width: 50%
    &__object
        position: absolute
        top: 10%
        left: 56%
        display: block
        width: 35%
        height: 50rem
        background: linear-gradient(96deg, rgba(81,1,166,0) 25%, rgba($main-color,1) 95%), url(../img/moon.png) center/cover no-repeat
        transform: translate(35px, 65px)
        animation: rotate 50s linear infinite alternate
        backface-visibility: hidden
        -webkit-mask-image: url(../img/moon.png)
        mask-image: url(../img/moon.png)
        -webkit-mask-repeat: no-repeat
        mask-repeat: no-repeat
        -webkit-mask-position: center center
        mask-position: center center
        -webkit-mask-size: 80% auto
        mask-size: 80% auto
    &__header
        color: $color-white
        font-weight: 700
        font-size: 4rem
        line-height: 3rem
        text-shadow: 2px -2px 0 $main-color, 4px -4px 0 rgba($main-color-light, 20%)
        margin-bottom: 5rem
        span
            font-style: italic
            font-weight: 300
            font-size: 2rem
            margin-left: 80%
            text-shadow: none
        &-text
            font-size: 2rem
            line-height: 3rem
            text-shadow: none

@keyframes rotate
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

.info-icon
    width: 5rem
    height: 5rem
    border-radius: 50%
    background-color: $main-color
    display: flex
    align-items: center
    justify-content: center
    transition: .5s ease
    &:hover
        background-color: $main-color-light
        box-shadow: $cosmic-shadow-btn
    i
        color: $color-white
        font-size: 2.4rem
        transition: .3s ease
    &:hover i
        font-size: 3rem

// TOURS

.tours
    width: 100%
    height: 90vh
    padding: 10rem 1rem 55rem
    &__title
        color: $color-dark
        margin-bottom: 6.5rem

.tours__info
    width: 100%
    margin: 0 auto
    text-align: center
    &-title
        color: $color-black
        margin-bottom: 5rem
        padding: 1rem 0
        font-weight: normal
        font-size: 2.8rem
        position: relative
        display: inline-block
        backface-visibility: hidden
        transition: color .3s ease-out
        &:hover
            color: $added-color
        &::before
            content: ''
            position: absolute
            width: 100%
            transform: scaleX(0)
            height: 2px
            bottom: 0
            left: 0
            background-color: $added-color-light
            transform-origin: bottom right
            transition: transform .4s ease-out
            margin-bottom: -.5rem
        &:hover::before
            transform: scaleX(1)
            transform-origin: bottom left
    &-images
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr))
        grid-gap: 6.5rem 5rem
        align-items: start
    &-links
        text-align: left
        &:active, &:focus .tours__info-subtitle
            color: $added-color
        &:active, &:focus .tours__info-text
            color: $main-color
            opacity: 1
            transform: translateY(0)
        &:active, &:focus .tours__info-pics
            border: 2px solid $added-color-light
    &-pics
        margin-bottom: 2.4rem
        transition: .3s ease-out
        border-radius: .8rem
        border: 2px solid transparent
        box-shadow: $cosmic-shadow-pics
        &:hover
            filter: brightness(1.1) saturate(130%)
    &-subtitle
        color: $main-color
        margin-bottom: .8rem
        font-weight: 700
        font-size: 1.4rem
        line-height: 2.4rem
        text-transform: uppercase
        transition: border .3s ease-out
    &-text
        transform: translateY(-30px)
        transition: transform .7s ease-out
        opacity: 0
    &-items:hover &-text
        transform: translateY(0)
        opacity: 1

// FOOTER

.page-footer
    width: 100%
    height: 80vh
    padding: 10rem 0 55rem
    background: url(../img/footer.png) center/cover no-repeat, linear-gradient(0deg, rgba($color-black, 0.7), rgba($color-black, 0.7)), $main-color
    color: $color-white
    border-bottom: 8rem solid black
    &__title
        margin-bottom: 6.5rem
    &__info
        width: 45%
        margin: 0 auto
        font-size: 2rem
        line-height: 2.8rem
        margin-bottom: 5rem
        text-align: center
    &__logo
        width: 18.5%
        margin: 0 auto
        transform: translate(0%, 130%)
    &__form
        color: $color-white
        margin-bottom: 14rem
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-items: center
        legend
            font-size: 1.2rem
        label
            display: none
        fieldset
            width: 20%
            padding: .5rem
            border: 1px solid $main-color-light
            border-radius: .6rem
        input
            padding: 2rem
            text-align: left
            background-color: transparent
            border: none
            box-shadow: none
            &::placeholder
                color: $main-color-light
                font-weight: 700
                font-size: 1.6rem
                line-height: 2.4rem

fieldset:nth-child(3)
    margin-top: .5%
    border: 1px solid $color-white
    legend
        display: none
    input::placeholder
        color: $color-white

.form-button
    width: 20%
    padding: 2rem
    font-weight: 700
    background: $main-color
    border: none
    color: $color-white
    font-weight: 700
    font-size: 1.6rem
    line-height: 2.4rem
    border-radius: .6rem
    text-transform: uppercase
    cursor: pointer
    transition: .5s ease
    &:hover
        background: $main-color-light
        box-shadow: $cosmic-shadow-btn

// MEDIA QUERIES

@media (max-width: 1199px)
    .container
        width: 940px

    html
        font-size: 56.25%

    .moon__object
        width: 40%

    .tours
        height: 1070px
        &__info-images
            grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr))
            margin-left: 5%
        &__info-text
            width: 80%
            font-size: 1.5rem
        &__info-items
            justify-self: center
            align-self: center

    .page-footer__logo
        width: 22%

@media (max-width: 991px)
    .container
        width: 720px

    html
        font-size: 34%

    .logo-info
        width: 40%
        &__text
            width: 50%

    .arrows-icon
        font-size: 10px

    .tours
        height: 930px
        &__info-images
            grid-template-columns: repeat(auto-fit, minmax(41rem, 1fr))
            margin-left: 0
        &__info-title
            font-size: 3.5rem
        &__info-pics
            margin-bottom: 5rem
        &__info-subtitle
            font-size: 2.5rem
            margin-bottom: 2rem
        &__info-text
            font-size: 2.5rem

    .page-footer
        height: 520px
        &__info
            font-size: 2.5rem
            line-height: 3.2rem

    .page-footer__form
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-gap: 40px 30px
        fieldset
            width: 100%
            legend
                font-size: 2rem
            input
                width: 100%
                text-align: center
                padding: 1.7rem 2rem 2.5rem
            input::placeholder
                font-size: 2.5rem
        fieldset:nth-child(3)
            input
                padding: 1.7rem 2rem 2rem

    .form-button
        width: 100%
        font-size: 2.5rem

    .page-footer__logo
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

@media (max-width: 767px)
    .container
        width: 540px

    html
        font-size: 33%

    .logo-info__text
        width: 60%

    .info-icon
        width: 7rem
        height: 7rem
        i
            font-size: 3.5rem
        &:hover i
            font-size: 4rem

    .moon
        &__info
            width: 100%
            text-align: center
            align-items: center
        &__object
            display: none

    .tours
        height: 870px
        &__info-text
            transform: none
            opacity: 1
        &__info-links
            text-align: justify
        &__info-subtitle
            text-align: center
        &__info-text
            width: 100%

    .page-footer
        &__info
            width: 55%
        &__form
            margin-bottom: 17rem

@media (max-width: 575px)
    .container
        width: 100%

    html
        font-size: 40%

    .logo-info
        &__text
            width: 50%

    .info-icon
        width: 8rem
        height: 8rem

    .tours
        height: 2050px
        &__info-images
            display: flex
            flex-direction: column
            flex-wrap: wrap
            align-items: center
            justify-content: center
            margin: 0 auto
            width: 100%
        &__info-items
            margin: 0 auto
            width: 100%
        &__info-pics
            margin: 0 auto
            margin-bottom: 30px
            width: 75%
        &__info-subtitle
            font-size: 20px
            text-align: center
            margin: 0 auto
            margin-bottom: 15px
            width: 75%
        &__info-text
            margin: 0 auto
            width: 70%

    .page-footer__info
        margin-bottom: 40px

    .page-footer__form
        margin-bottom: 17px
